@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  font-family: "Nunito";
  box-sizing: border-box;
  text-align: center;
    margin: 0;
    padding: 0;
}

/* #portfolio {
    width: 100vw;
  } */

  .pic-center {
    margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  }

.mypic {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

.name {
  font-size: 56px;
  font-weight: 600;
}

.web {
  font-size: 20px;
  font-weight: 500;
}


.des {
  /* margin-left: 35px;
  margin-right: 35px; */
  margin-left: 17%;
  margin-right: 17%;
  font-size: 16px;
  font-weight: 400;
  color: #757575;
}

.resume-button {
        display: inline-block;
        margin-top: 10px;
        padding: 10px 20px;
        background-color: #333;
        color: white;
        text-decoration: none;
        border-radius: 8px;
      }

.resume-button:hover {
 background-color: #9FBC49;
 transition: color 0.5s ease-in-out;
}

.nav-button-hover:hover {
 color: #9FBC49;
 transition: color 0.3s ease-in-out;
}

#contact {
  display: grid;
  gap: 1.5rem;
  /* margin: ; */
  text-align: center;
}

.skills {
  border: 1px solid rgba(0, 0, 0, 0.214);
  border-radius: 0.75rem;
  /* padding: 2rem 4rem; */
  gap: 1.5rem;
  box-sizing: border-box ;

}

.contact-box {
  border: 1px solid rgba(0, 0, 0, 0.214);
  border-radius: 0.75rem;
  padding: 15px;
  box-sizing: border-box;
  margin-left: 20%;
  margin-right: 20%;
}

 .email-me {
    color: #757575;
    font-size: 14px;
    size: 14px;
    display: block;
  }

      body {
        margin: 0;
      }

      .mypic {
        display: block;
        margin: 20px auto;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
      }

      .portfolio {
        font-size: 32px;
        /* margin-top: 20px; */
      }

      /* .nav ul {
        display: flex;
        justify-content: center;
        list-style-type: none;
        padding: 0;
        gap: 20px;
      } */

      .nav a {
        text-decoration: none;
        color: #333333;
        font-weight: bold;
      }

      section {
        text-align: center;
        padding: 20px;
      }

      .project-items {
        list-style: none;
        padding: 6px;
      }

      .skills-items {
        list-style: none;
      }

      .skills {
        margin-left: 20%;
        margin-right: 20%;
      }

      .project-box {
        border: 1px solid rgba(0, 0, 0, 0.214);
        border-radius: 0.75rem;
        padding: 15px;
        margin-left: 20%;
        margin-right: 20%;

      }
      
      .project ul {
        padding-top: 8px;
      }

      .project-items-link {
        text-decoration: none;
      }

      .nav1 {
        display: flex;
      }

      .logo-text {
        margin: 0;
        padding: 1%;
        padding-left: 18%;
        padding-right: 35%;
      }

      .nav-button {
        list-style: none;
        padding: 1.5%;
        padding-right: 1.5%;
      }

      .nav-button a {
        text-decoration: none;
        color: #333333;
      }